<section class="hero-section">
  <div class="contenido-hero">
    <img src="img/logo8.png" alt="Logo Casa Currito" class="logo-hero">
    <h1>Alojamientos con encanto en Sanlucar</h1>
    <p>Disfruta de la luz de Cádiz</p>
    <button class="btn-apartamentos" [routerLink]="['/apartamentos']">VER ALOJAMIENTOS</button>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section class="tipos-alojamiento">
  </section>
